<html>

<head>
  <%- include partials/head.ejs %>
</head>

<body>

  <header>
    <%- include partials/header.ejs %>
  </header>

  <div class="texttitle"><strong>WELCOME TO THE WEBSITE!</strong></div>

Who am I?

  <footer>
    <%- include partials/footer.ejs %>
  </footer>

</body>

</html>
