<html>

<head>
  <%- include partials/head.ejs %>
</head>

<body>

  <header>
    <%- include partials/header.ejs %>
  </header>

<h1>Who am I?<h1>

<img id="profileimage" src="/src/img/profile_photo_black_and_white_image.jpg" alt="my profile photo">

</body>

</html>
