<html>

<head>
  <%- include partials/head.ejs %>
</head>

<body>

  <header>
    <%- include partials/header.ejs %>
  </header>

  <div id="homepagebackground">

  <h1><span class="white">Welcome to my website</span></h1>

<h2>

<span class="blue">   < name ></span> <span class="grey">Conor Joseph Corey </span><span class="blue">< /name ></span><br>
<span class="blue">   < age ></span> <span class="grey">30</span> <span class="blue">< /age ></span><br>
<span class="blue">   < profession ></span> <span class="grey">Aspiring programmer</span> <span class="blue">< /profession ></span>

</h2>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>

</body>

</html>
